<ion-header>

  <ion-navbar>
    <ion-title>Guess</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding color="dark">

  <user-details [uid]="drawing.author"></user-details>
  
  <br>

  <img id="guess-img" [src]="drawing.path">

  <div class="guess-text">
    <div class="hidden-name" [ngClass]="correct ? 'correct' : ''">{{ hiddenName }}</div>
    <div *ngIf="remainingGuesses > 0" class="remaining-text">{{ remainingGuesses }} guess{{ remainingGuesses > 1 ? 'es' : '' }} remaining...</div>
  </div>

  <ion-footer *ngIf="remainingGuesses > 0 && !correct">
    <ion-toolbar>
      <message-input (sendMessage)="submitGuess($event)"></message-input>
    </ion-toolbar>
  </ion-footer>

</ion-content>