page-guess {

  #guess-img {
    height: 50vh;
    width: auto;
    margin: auto;
    display: block;
  }

  .guess-text {
    text-align: center;
    .hidden-name {
      transition:all .5s ease;
      font-size: 2.5em;
      margin-top: .2em;
      &.correct {
        -webkit-transform: rotateZ(-360deg) scale(1.3);
        -ms-transform: rotateZ(-360deg) scale(1.3);
        transform: rotateZ(-360deg) scale(1.3);

        color: color($colors, secondary);
      }
    }
    .remaining-text {
      margin-top: .2em;
      font-size: .9em;
      color: rgba(0,0,0,.6);
    }
  }
}
