<ion-item no-lines color="light">
  <!-- <ion-avatar item-start>
    <img [src]="(profile | async)?.avatar">
  </ion-avatar> -->
  <div item-start class="user-avatar" [style.background-image]="'url('+ (profile | async)?.avatar +')'"></div>

  <div item-end>
    <img id="flag-img" [src]="(profile | async)?.office?.country === 'AU' ? 'assets/imgs/flag-aus.png' : (profile | async)?.office?.country === 'IND' ? 'assets/imgs/flag-india.png' : ''">
  </div>

  <h2>{{ (profile | async)?.firstName }} {{ (profile | async)?.lastName }}</h2>
  <p>{{ (profile | async)?.quote }}</p>

</ion-item>